    .pln{color:#326ab3}
    @media screen{
        .str{color:#833}
        .mma_msg{color:#833;font-style:italic}
        .mma_use{color:#833;font-weight:bold}
        .mma_iot{color:#555;font-weight:bold}
        .atn{color:#326ab3;font-weight:bold}
        .com{color:#555}
        .kwd{color:#000}
        .atv{color:#060;font-style:italic}
        .atn{color:#326ab3;font-weight:bold}
        .tag{color:#000;font-weight:normal}
        .lit{color:#833}
        .pln{color:#002cc3}
        .pun{color:#000}}

    @media print,projection{
        .str,.use,.msg{color:#833}
        .com{color:#555}
        .kwd{color:#000;font-weight:bold}
        .atv{color:#060;font-style:italic}
        .tag{color:#000;font-weight:bold}
        .lit{color:#833}
        .mma_use{color:#833;font-weight:bold}
        .mma_msg{color:#833;font-style:italic}
        .mma_iot{color:#555;font-weight:bold}
        .atn{color:#326ab3;font-weight:bold}
        .pun{color:#000}}
    pre.prettyprint{background:#EEE;padding:5px}
    ol.linenums{margin-top:0;margin-bottom:0}
    li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style-type:none}
    li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}

    pre {
        background: none repeat scroll 0 0 #F3F3F3;
        border: 1px solid #E0E0E0;
        box-shadow: 0 1px 1px rgba(100, 100, 100, 0.1);
        font-family: 'Droid Sans Mono',Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
        font-size: 12px;
        margin-bottom: 10px;
        max-height: 10000px;
        overflow: auto;
        padding: 5px;
        width: auto;
    }

    code {
        background: none repeat scroll 0 0 #F3F3F3;
        color: #222222;
        font-family: 'Droid Sans Mono',Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
        font-size: 12px;
    }